<footer class="d-flex justify-content-between align-items-center py-3 border-top footer-custom">
    <p class="footer p">© 2025 KnowSpace</p>
    <img 
        src="/images/KnowSpace 1-2.png"
        alt="Footer image description" 
        class="footer-image"
    />
</footer>
    </main>
    <script src="/scripts/side-bar.js"></script> 
</body>
</html>
