</main>
<footer class="d-flex justify-content-between align-items-center py-3 my-4 border-top footer-custom">
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 KnowSpace</p>
</footer>


</body>
</html>
