<script>
document.getElementById('menuToggle').addEventListener('click', function () {
  const menu = document.getElementById('menu');
  menu.classList.toggle('hidden');
});
</script>
</main>
    <footer class="d-flex justify-content-between align-items-center py-3 mt-4 border-top footer-custom">
        <p class="footer p">© 2024 KnowSpace</p>
        <img 
            src="/images/KnowSpaceFooter.png"
            alt="Footer image description" 
            class="footer-image"
        />
    </footer>
</body>
</html>
