<%- include("partials/header.ejs") %>

<div class="container">
<h1 class="pb-5">New Blog</h1>
<form action="/post-blog" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" placeholder="Title goes here..." name="title" id="title" required>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" placeholder="Content goes here... (optional)" rows="10" name="content" id="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
</div>

<%- include("partials/footer.ejs") %>