<%- include("partials/header.ejs") %>

<% if (errorMessage) { %>
    <div class="alert alert-danger" role="alert">
        <h1>Грешка 404</h1>
        <p><%= errorMessage %></p>
    </div>
<% } %>

<%- include("partials/footer.ejs") %>