<%- include("partials/header") %>

<% if (errorMessage) { %>
    <div class="alert alert-danger mt-2" role="alert">
        <h1>Грешка 404</h1>
        <p><%= errorMessage %></p>
    </div>
<% } %>

<%- include("partials/footer") %>