<%- include("partials/header.ejs") %>

<div class="container">
    <%- include("partials/search-bar-channels.ejs") %>
    <%- include("partials/channels.ejs") %>
</div>

<%- include("partials/footer.ejs") %>