<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/small-icon.png" type="image/png">
  <title>KnowSpace</title>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
  <div class="container">
    <h1 class="heading">Вход</h1>
    <% if (locals.errorMessage) { %>
      <p style="color: red; font-size: 14px;"><%= errorMessage %></p> <!-- Display error message if exists -->
    <% } %>
    <form class="form" action="/login" method="POST">
      <input type="text" name="username" class="input" placeholder="Имейл" required>
      <input type="password" name="password" class="input" placeholder="Парола" required>
      <button type="submit" class="submit-button">Влез</button>
    </form>
    <p class="toggle-link">Нямаш профил? <a href="/register">Регистрирай се</a></p>
  </div>
  <script src="/functions/login.js"></script>
</body>
</html>
