<%- include("partials/header.ejs") %>

<div class="container">
    <h2>Създаване на нов пост</h2>
    <form action="/<%= channel_id %>/create-post" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Заглавие на поста</label>
            <input name="title" class="form-control mb-2" type="text" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Съдържание на поста</label>
            <textarea name="content" class="form-control mb-2" rows="4" required></textarea>
        </div>
        
        <button class="button" type="submit">Създаване на поста</button>
    </form>
</div>

<%- include("partials/footer.ejs") %>
