<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/icon.png" type="image/png">
  <title>KnowSpace</title>
  <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
  <div class="container">
    <h1 class="heading">Регистрирай се</h1>
    <% if (locals.errorMessage) { %>
      <p style="color: red; font-size: 14px;"><%= errorMessage %></p> <!-- Display error message if exists -->
    <% } %>
    <form class="form" action="/register" method="POST">
      <input type="text" class="input" name="username" placeholder="Име" required>
      <input type="email" class="input" name="email" placeholder="Имейл" required>
      <input type="password" class="input" name="password" placeholder="Парола" required>

      <select name="type" id="user-role" class="menu" required>
        <option value="" disabled selected>Избери категория</option>
        <option value="Ученик">Ученик</option>
        <option value="Учител">Учител</option>
        <option value="Друг">Друг</option>
      </select>

      <button type="submit" class="submit-button">Регистриране</button>
    </form>
    <p class="toggle-link">Вече имаш профил? <a href="/login">Влез</a></p>
  </div>
  <script src="/functions/register.js"></script>
</body>
</html>
