<%- include("partials/header.ejs") %>

<div class="search-results container">
    <h1 class="text-center">Резултати от търсенето на публикации</h1>

    <%- include("partials/search-bar-posts.ejs") %>
    <%- include("partials/posts.ejs") %>
</div>

<%- include("partials/footer.ejs") %>