<%- include("partials/header") %>

<div class="search-results container">
    <h1 class="text-center">Резултати от търсенето на публикации</h1>
    <%- include("partials/search-bar-posts") %>
    <%- include("partials/posts") %>
</div>

<%- include("partials/footer") %>