<%- include("partials/header") %>

<div class="search-results container">
  <h1 class="text-center">Резултати от търсенето на канали</h1>
  <%- include("partials/search-bar-channels") %>
  <%- include("partials/channels") %>
</div>

<%- include("partials/footer") %>