<%- include("partials/header.ejs") %>

<div class="container">
  <h1>Списък на каналите</h1>
  
  <%- include("partials/search-bar-channels.ejs") %>
  <%- include("partials/channels.ejs") %>
</div>

<%- include("partials/footer.ejs") %>